<div>Shop</div>
<p style="color: red"><strong>{{error}}</strong></p>

{{#if payload}}
    <h2>Lista de productos filtrados</h2>
    <ul>
    {{#each payload}}
        <li>Nombre: {{name}} - Precio: {{price}}</li>
        <button onclick="addToCart('{{_id}}')">Agregar al Carrito</button>
    {{/each}}
    </ul>
    {{#if hasPrevPage}}
        <a href="{{prevLink}}">Página Anterior</a>
    {{/if}}
    {{page}}
    {{#if hasNextPage}}
        <a href="{{nextLink}}">Página Siguiente</a>
    {{/if}}
{{else}}
    <h2>No hay productos disponibles</h2>
{{/if}}

<script>
  const addToCart = async (productId) => {
    try {
      const response = await fetch(`/carts/${cartId}/product/${productId}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        }
      });

      if (response.ok) {
        console.log('Producto agregado al carrito desde la interfaz');
      } else {
        console.error('Error al agregar producto al carrito');
      }
    } catch (error) {
      console.error('Error:', error);
    }
  };
</script>

